.suggestions-stack-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.suggestions-stack-box>* {
    margin: 2px;
}

.valid-name-input-field fieldset {
    border-color: #279f37;
}

.valid-name-input-field p {
    color: #279f37;
}

p {
    margin: 0;
}

.collapsed-area-app {
    width: 0px;
}

.expanded-area-app {
    width: 100%;
}

.area-app {
    -webkit-transition: width 1s;
    transition: width 1s;
}